EXPO_PUBLIC_API_URL=https://www.digitproperties.com
# Same Google Web OAuth client ID as web GOOGLE_CLIENT_ID
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
# Same Facebook App ID as web FACEBOOK_CLIENT_ID / NEXT_PUBLIC_FACEBOOK_APP_ID
EXPO_PUBLIC_FACEBOOK_APP_ID=
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=

